<!DOCTYPE html>
<html>
<head>
  <title>Antispam</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <style>.row { width:100%;display: flex;} .cx { width: 50%; }</style>
  <%#= stylesheet_link_tag    "antispam/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
